node_modules/
bijlex/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
!.env.example

dist/
build/
coverage/
.nyc_output/

.cache/
.parcel-cache/
.turbo/
.eslintcache
.tsbuildinfo

.DS_Store
Thumbs.db
.idea/
.vscode/

*.log
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
*.tgz

debug.log
node-debug.log

/.pnp
.pnp.js
.pnp.cjs
/.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.pem
*.key
*.crt


# dev tools
**/*repomix*